@model RoadMatereal.ViewModels.MaterialViewModel

<div class="container mt-4">
    <h2 class="text-center mb-4">Категории товаров</h2>

    <form method="get" asp-action="Index">
        <div class="form-group">
            <label for="supplier">Выберите поставщика:</label>
            <select id="supplier" name="supplierId" class="form-control" onchange="this.form.submit()">
                <option value="">Все поставщики</option>
                @foreach (var supplier in Model.Suppliers)
                {
                    <option value="@supplier.IdSupplier">
                        @supplier.Name
                    </option>
                }
            </select>
        </div>
    </form>



    <div class="row mt-4">
        @foreach (var material in Model.Materials)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">@material.Name</h5>
                        <p class="card-text">
                            <strong>Описание:</strong> @material.Description <br />
                            <strong>Цена:</strong> @material.Price @material.Unit <br />
                            <strong>Доступно на складе:</strong> @material.Count @material.Unit
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <form asp-action="AddToOrder" method="post" class="d-inline-block">
                            <input type="hidden" name="MaterialID" value="@material.IdMaterial" />
                            <button type="submit" class="btn btn-primary">Добавить в корзину</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
