@model IEnumerable<Material>

<h2>Управление материалами</h2>

<form method="get" asp-action="Materials">
    <div class="form-group">
        <label for="filterName">Фильтр:</label>
        <input type="text" name="filterName" id="filterName" class="form-control" placeholder="Введите значение для фильтрации" />

        <label for="filter">Тип фильтра:</label>
        <select name="filter" id="filter" class="form-control">
            <option value="">Выберите фильтр</option>
            <option value="MaterialName">Название материала</option>
            <option value="MaterialSupplier">Поставщик материала</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Применить фильтр</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Название</th>
            <th>Описание</th>
            <th>Цена</th>
            <th>Поставщик</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var material in Model)
        {
            <tr>
                <td>@material.Name</td>
                <td>@material.Description</td>
                <td>@material.Price руб.</td>
                <td>@material.Supplier?.Name</td>
                <td>
                    <a href="@Url.Action("MaterialDetails", "Admin", new { id = material.IdMaterial })" class="btn btn-info">Детали</a>
                    <a href="@Url.Action("EditMaterial", "Admin", new { id = material.IdMaterial })" class="btn btn-warning">Редактировать</a>
                    <form action="@Url.Action("DeleteMaterial", "Admin", new { id = material.IdMaterial })" method="post" style="display:inline;">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("CreateMaterial", "Admin")" class="btn btn-primary">Создать материал</a>
