@model IEnumerable<Supplier>

<h2>Управление поставщиками</h2>

<form method="get" asp-action="Suppliers">
    <div class="form-group">
        <label for="filterName">Фильтр:</label>
        <input type="text" name="filterName" id="filterName" class="form-control" placeholder="Введите значение для фильтрации" />

        <label for="filter">Тип фильтра:</label>
        <select name="filter" id="filter" class="form-control">
            <option value="">Выберите фильтр</option>
            <option value="SupplierName">Название Поставщика</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Применить фильтр</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Название поставщика</th>
            <th>Почта</th>
            <th>Телефон</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var supplier in Model)
        {
            <tr>
                <td>@supplier.Name</td>
                <td>@supplier.Email</td>
                <td>@supplier.Phone</td>
                <td>
                    <a href="@Url.Action("SupplierDetails", "Admin", new { id = supplier.IdSupplier })" class="btn btn-info">Детали</a>
                    <a href="@Url.Action("EditSupplier", "Admin", new { id = supplier.IdSupplier })" class="btn btn-warning">Редактировать</a>
                    <form action="@Url.Action("DeleteSupplier", "Admin", new { id = supplier.IdSupplier })" method="post" style="display:inline;">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("CreateSupplier", "Admin")" class="btn btn-primary">Добавить поставщика</a>
